/* General container styling */
.dbsideBarContainer {
    width: 250px;
    height: calc(100vh - 60px); /* Adjusting for the header height */
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #e9ecef;
    font-family: 'Arial', sans-serif;
    position: fixed;
    top: 60px; /* Adjusting for the header height */
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Allows scrolling if content exceeds height */
}

/* Header section styling */
.dbsideHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px; /* Set the header height */
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    border-bottom: 1px solid #e9ecef;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the header stays above the sidebar */
}

.dbsideHeader img {
    height: 40px;
}

.dbsideHeader .logout {
    font-size: 16px;
    color: #007bff;
    cursor: pointer;
}

/* Section styling */
.dbsideSection {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    color: #007bff;
    font-size: 16px;
    border-bottom: 1px solid #e9ecef;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.dbsideSection span {
    display: flex;
    align-items: center;
}

.dbsideSection .dbside-logo-icon {
    margin-right: 10px;
}

/* Hover effects for sections */
.dbsideSection:hover {
    background-color: #e9ecef;
    box-shadow: inset 5px 0 5px rgba(0, 0, 0, 0.1);
}

/* Dropdown container styling */
.dbside-list-container {
    padding-left: 30px;
    list-style-type: none;
    margin: 10px 0;
}

.dbside-list-container li {
    padding: 5px 0;
    cursor: pointer;
    color: #6c757d;
    font-size: 14px;
    transition: color 0.3s, transform 0.3s;
}

/* Hover effects for dropdown items */
.dbside-list-container li:hover {
    color: #007bff;
    transform: translateX(5px);
    box-shadow: inset 5px 0 5px rgba(0, 0, 0, 0.1);
}
    



.dbside-logo-icon.logout {
    color: rgb(247, 67, 67);
}

.dbhlogout {
    color: rgb(247, 67, 67);
}


/*toggle  functionality
*/

.dbsideBarContainer {
    width: 250px;
    /* Add transition for smooth show/hide */
    transition: transform 0.3s ease;
  }
  
.dbsideBarContainer.hide {
    transform: translateX(-100%);
  }
  
